<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weatherimg.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> This site was created by Madhavi Latha Mopuri. It uses data from weatherstack.com and mapbox.com</p>
            <img class="portrait" src="/img/user.png" alt=""/>
        </div>
        
        {{>footer}}
        
    </body>
</html>